/**
 * SUPPORT
 * ─────────────
 */
@import "./color-pallete";
@import "./reset";

// MISC VARS //
$common_dimensions: (
  "sm": 12px,
  "md": 24px,
  "lg": 32px,
  "xl": 46px
);

$directions: ("top", "right", "bottom", "left");

//-- Border
$border_styles: (
  "dotted",
  "dashed",
  "solid",
  "double",
  "groove",
  "ridge",
  "inset",
  "outset",
  "none",
  "hidden",
  "mix"
);

//-- Display
$display_types: (
  "inline",
  "block",
  "flex",
  "grid",
  "inline-block",
  "inline-flex",
  "inline-grid",
  "none",
  "inherit"
);
