// ? tf is this, why does it not import directly at "bourbon"
@import "../node_modules/bourbon/core/_bourbon.scss";
@import "base/colors";

// Delete
* {
  font-family: -apple-system, BlinkMacSystemFont, Lato, "Segoe UI", Verdana,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
}

// memo
// 1. all caps variables are to be used for globals.
// 2. any none relevant variables to be prefixed with underscore.

// SHADES
@each $_name, $_hex in $COLORS_SHADES {
  .bg-#{$_name} {
    background-color: $_hex;
  }

  .tx-#{$_name} {
    color: $_hex;
  }
}
