<nav class="shadow-2">
    <div class="container">
      <div style="display: flex; padding: 12px 0; align-items: center">
        <div style="flex: 1;">
          <a
            href="#"
            style="margin-right: 8px; text-decoration: none; color: #444;"
          >
            Home
          </a>
          <a
            href="#"
            style="margin-right: 8px; text-decoration: none; color: #444;"
          >
            Quick Start
          </a>
          <a
            href="#"
            style="margin-right: 8px; text-decoration: none; color: #444;"
          >
            Docs
          </a>
        </div>
        <div style="display: flex; justify-content: flex-end;">
          <a href="#" class="btn btn-outline btn-black">
            Github <i data-feather="github" style="padding-left: 8px;"></i>
          </a>
          <!-- <a
            href="#"
            class="btn btn-outline btn-white"
            style="border-radius: 100px; padding-left: 6px; padding-right: 6px; margin-left: 8px;"
          >
            <i data-feather="menu" class="t-black"></i>
          </a> -->
        </div>
      </div>
    </div>
  </nav>
  