---
layout: default
permalink: '/blog/'
---

<h1>Blog</h1>

<div style="display: flex;">
  <div style="margin: 10px; width: 300px;">
    {% for post in site.posts %}
    <a href="{{ post.url }}" class="box box-link">
      <h1>{{ post.title }}</h1>
      <small style="display: block;"
        ><i>{{ post.date | date_to_string }}</i></small
      >
      <br />
      <p>
        {{ post.excerpt }}
      </p>
    </a>
    {% endfor %}
  </div>

  <div style="margin: 10px; width: 300px;">
    {% for post in site.posts %}
    <div class="box">
      <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
      <small style="display: block;"
        ><i>{{ post.date | date_to_string }}</i></small
      >
      <br />
      <p>
        {{ post.excerpt }}
      </p>
    </div>
    {% endfor %}
  </div>
</div>
