//-> DEFAULT VARIABLES

$DEFAULT_LINE-HEIGHT: 1;

$DEFAULT_FONT-SIZE: 16px;

$DEFAULT_SERIF_FONT-FAMILY: "Times New Roman", Times, Baskerville, Georgia,
  serif;

$DEFAULT_SANS-SERIF_FONT-FAMILY: -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$DEFAULT_MONOSPACE_FONT-FAMILY: "Courier New", Courier, "Lucida Sans Typewriter",
  "Lucida Typewriter", monospace;

$DEFAULT_HEADING_FONT_SIZES: (
  0: 6rem,
  1: 3rem,
  2: 2.25rem,
  3: 1.5rem,
  4: 1.25rem,
  5: 1rem,
  6: 0.875rem
);
