@import "./variables";
@import "./mixins";

.btn {
  display: inline-block;
  background-color: map-get($prime_colors, "gray-2");
  font-weight: 400;
  color: map-get($prime_colors, "gray-9");
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 2px solid transparent;
  border-radius: 0.2em;
  outline: none;
  cursor: pointer;
  padding: map-get(map-get($btn-sizing, md), btn-size-padding-md);
  font-size: map-get(map-get($btn-sizing, md), btn-size-fontsize-md);
  line-height: map-get(map-get($btn-sizing, md), btn-size-lineheight-md);
}

@each $btn-general-color in $btn-colors {
  .btn-#{$btn-general-color} {
    @include btn-color(
      map-get($all_colors, #{$btn-general-color + "-4"}),
      map-get($all_colors, #{$btn-general-color + "-6"}),
      map-get($all_colors, #{$btn-general-color + "-7"}),
      map-get($all_colors, #{$btn-general-color + "-9"}),
      $btn-text-dark
    );
  }
}

@each $btn-size, $_ in $btn-sizing {
  .btn-#{$btn-size} {
    @include btn-size(
      map-get(map-get($btn-sizing, $btn-size), btn-size-padding-#{$btn-size}),
      map-get(map-get($btn-sizing, $btn-size), btn-size-fontsize-#{$btn-size}),
      map-get(map-get($btn-sizing, $btn-size), btn-size-lineheight-#{$btn-size})
    );
  }
}
