@mixin btn-color(
  $btn-lightest-color,
  $btn-outline-color,
  $btn-orig-color,
  $btn-hover-color,
  $btn-active-color,
  $btn-text-color
) {
  background-color: $btn-orig-color !important;
  color: $btn-text-color;

  &:hover {
    background-color: $btn-hover-color !important;
  }

  &:active {
    background-color: $btn-active-color !important;
  }

  &.btn-outline {
    background-color: transparent !important;
    color: $btn-outline-color;
    border-color: $btn-outline-color;

    &:hover {
      background-color: transparent !important;
      color: $btn-hover-color !important;
      border-color: $btn-hover-color !important;
    }

    &:active {
      background-color: transparent !important;
      color: $btn-active-color !important;
      border-color: $btn-active-color !important;
    }
  }

  &.btn-disabled {
    background-color: $btn-outline-color !important;
    cursor: not-allowed !important;

    &.btn-outline {
      background-color: transparent !important;
      border-color: $btn-lightest-color !important;
      color: $btn-lightest-color !important;

      &:hover {
        background-color: transparent !important;
        color: $btn-lightest-color !important;
        border-color: $btn-lightest-color !important;
      }

      &:active {
        background-color: transparent !important;
        color: $btn-lightest-color !important;
        border-color: $btn-lightest-color !important;
      }
    }
  }
}

@mixin btn-size($btn-size-padding, $btn-size-fontsize, $btn-size-lineheight) {
  padding: $btn-size-padding !important;
  font-size: $btn-size-fontsize !important;
  line-height: $btn-size-lineheight !important;
}
