<div
  style="background-image: linear-gradient(to right, #434343 0%, black 100%);"
>
  <div
    style="justify-content: flex-end; padding: 10px; margin: 0 auto; max-width: 1200px; display: flex;"
  >
    <div style="width: 100%; display: flex; align-items: center;">
      <a href="#" class="btn btn-black btn-link" style="border: 0 !important;">
        <i data-feather="droplet" style="stroke: white;"></i>
      </a>
    </div>
    <ul
      style="align-items: center; list-style-type: none; display: flex; margin: 0; padding: 0; margin-right: 20px;"
    >
      <li style="padding-right: 10px;">
        <a
          href="{{ site.url }}{{ site.baseurl }}/quick-start/"
          class="btn btn-link btn-white"
          style="border: 0 !important; text-decoration: none; font-size: 14px; display: flex;"
          >Quick Start</a
        >
      </li>
      <li style="padding-right: 10px;">
        <a
          href="{{ site.url }}{{ site.baseurl }}/docs/"
          class="btn btn-link btn-white"
          style="border: 0 !important; text-decoration: none; font-size: 14px; display: flex;"
          >Docs</a
        >
      </li>
      <li>
        <a
          href="{{ site.url }}{{ site.baseurl }}/blog/"
          class="btn btn-link btn-white"
          style="border: 0 !important; text-decoration: none; font-size: 14px; display: flex;"
          >Blog</a
        >
      </li>
    </ul>
    <a
      href="https://github.com/zana-a/refresh"
      class="btn btn-outline btn-white"
    >
      <span style="margin-right: 8px;">Repository</span>
      <i data-feather="github"></i>
    </a>
  </div>
</div>
