<div style="border-bottom: 1px solid #ccc;">
  <div class="container">
    <div style="display: flex; padding: 12px 0; align-items: center">
      <div style="flex: 1;">
        <a
          href="{{ site.url }}{{ site.baseurl }}/"
          style="margin-right: 8px; text-decoration: none; color: #444;"
        >
          Home
        </a>
        <a
          href="{{ site.url }}{{ site.baseurl }}/quick-start"
          style="margin-right: 8px; text-decoration: none; color: #444;"
        >
          Quick Start
        </a>
        <a
          href="{{ site.url }}{{ site.baseurl }}/docs"
          style="margin-right: 8px; text-decoration: none; color: #444;"
        >
          Docs
        </a>
      </div>
      <div style="display: flex; justify-content: flex-end;">
        <a href="#" class="btn btn-outline btn-black">
          Github <i data-feather="github" style="padding-left: 8px;"></i>
        </a>
      </div>
    </div>
  </div>
</div>
