<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="{{ site.url }}{{ site.baseurl }}/assets/css/refresh.css"
    />

    <!-- <link
      rel="stylesheet"
      href="https://zana-a.github.io/refresh/assets/css/refresh.css"
    /> -->
    <script src="https://unpkg.com/feather-icons"></script>

    <title>Document</title>
  </head>
  <body>
    <header>
      {% include nav.html %}
    </header>

    {{ content }}

    <script>
      feather.replace();
    </script>
  </body>
</html>
