---
layout: default
permalink: '/blog'
---

<h1>Blog</h1>

<!-- <div style="margin: 0 auto; width: 1200px;">
  {% for post in site.posts %}
  <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="box">
    <h1>{{ post.title }}</h1>
    <small style="display: block;"
      ><i>{{ post.date | date_to_string }}</i></small
    >
    <br />
    <p>
      {{ post.excerpt }}
    </p>
  </a>
  {% endfor %}
  <br />
  <div class="box">
    <h1>Heading</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet provident
      minus excepturi consectetur vel eaque laudantium? Sit perferendis vitae
      cupiditate sed debitis, fugiat tenetur temporibus consequuntur numquam
      amet incidunt quas.
    </p>
  </div>
</div> -->
<!-- <style>
  .box {
    margin-right: 25px;
  }

  .box:last-child {
    margin-right: 0 !important;
  }
</style>
<div style="margin: 0 auto; width: 1200px;">
  <div style="display: flex;">
    {% for post in site.posts %}
    <a
      href="{{ site.url }}{{ site.baseurl }}{{ post.url }}"
      class="box"
      style="flex: 1; height: min-content;"
    >
      <img
        src="https://www.mozilla.org/media/contentcards/img/home-2019/card_1/send-high-res.4d2798fec284.png"
        alt=""
        srcset=""
        style="width: 100%;"
      />
      <div style="padding: 8px 12px;">
        <h1 style="font-weight: 400;">{{ post.title }}</h1>
        <small style="display: block;"
          ><i>{{ post.date | date_to_string }}</i></small
        >
        <br />
        <p>
          {{ post.excerpt }}
        </p>
      </div>
    </a>
    {% endfor %}
  </div>
</div> -->
