.InputGroup {
  display: flex;
  flex-direction: column;

  &.InputGroup-column {
    .input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 100%;
    }

    .input:first-child {
      border-top-left-radius: 3px !important;
      border-top-right-radius: 3px !important;
    }

    .input:last-child {
      border-bottom-left-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
    }
  }

  &.InputGroup-row {
    flex-direction: row !important;

    .input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 100%;
    }

    .input:first-child {
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
    }

    .input:last-child {
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
    }
  }
}
