//-> INPUTS MODULE

@mixin input($_color) {
  border-color: map-get($DEFAULT_COLOR-PALLET, #{$_color + "-5"});
  color: map-get($DEFAULT_COLOR-PALLET, #{$_color + "-7"});

  &:hover {
    border-color: map-get($DEFAULT_COLOR-PALLET, #{$_color + "-6"});
    color: map-get($DEFAULT_COLOR-PALLET, #{$_color + "-8"});
  }

  &:focus {
    border-color: map-get($DEFAULT_COLOR-PALLET, #{$_color + "-9"});
    color: map-get($DEFAULT_COLOR-PALLET, #{$_color + "-9"});
  }
}

.input {
  display: inline-block;
  padding: 6px 12px;
  font-size: $DEFAULT_FONT-SIZE - 2;
  font-weight: $DEFAULT_FONT-WEIGHT;
  line-height: 1.2;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-radius: 0;
  outline: none !important;
  text-decoration: none;
  border: 1px solid;
}

.input-default {
  @include input(gray);
}

.input-success {
  @include input(green);
}

.input-warning {
  @include input(yellow);
}

.input-danger {
  @include input(red);
}
