<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/css/lemonade.css" />
    <script src="https://unpkg.com/feather-icons"></script>

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body>
    {{ partial "nav.html" . }}
    {{ block "main" . }}{{ end }}

    <script>
      feather.replace();
    </script>
  </body>
</html>
