/**
 * General Colors
 */
$COLORS: (
  "white": #ffffff,
  "black": #000000,
  "gray": #adb5bd,
  "red": #ff6b6b,
  "pink": #f06595,
  "grape": #cc5de8,
  "violet": #845ef7,
  "indigo": #5c7cfa,
  "blue": #339af0,
  "cyan": #22b8cf,
  "teal": #20c997,
  "green": #51cf66,
  "lime": #94d82d,
  "yellow": #fcc419,
  "orange": #ff922b,
);

/**
 * Shade Colors
 */
$COLOR_SHADES_LIGHTEN_PRECENTAGE: (
  "max": 25%,
  "high": 20%,
  "medium": 15%,
  "low": 10%,
);

$COLOR_SHADES_SHADE_PRECENTAGE: (
  "max": 50%,
  "high": 30%,
  "medium": 10%,
  "low": 5%,
);

$COLORS_SHADES: (
  "gray-1": lighten(map-get($COLORS, "gray"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "gray-2": lighten(map-get($COLORS, "gray"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "gray-3": lighten(map-get($COLORS, "gray"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "gray-4": lighten(map-get($COLORS, "gray"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "gray-5": map-get($COLORS, "gray"),
  "gray-6": shade(map-get($COLORS, "gray"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "gray-7": shade(map-get($COLORS, "gray"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "gray-8": shade(map-get($COLORS, "gray"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "gray-9": shade(map-get($COLORS, "gray"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "red-1": lighten(map-get($COLORS, "red"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "red-2": lighten(map-get($COLORS, "red"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "red-3": lighten(map-get($COLORS, "red"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "red-4": lighten(map-get($COLORS, "red"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "red-5": map-get($COLORS, "red"),
  "red-6": shade(map-get($COLORS, "red"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "red-7": shade(map-get($COLORS, "red"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "red-8": shade(map-get($COLORS, "red"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "red-9": shade(map-get($COLORS, "red"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "pink-1": lighten(map-get($COLORS, "pink"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "pink-2": lighten(map-get($COLORS, "pink"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "pink-3": lighten(map-get($COLORS, "pink"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "pink-4": lighten(map-get($COLORS, "pink"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "pink-5": map-get($COLORS, "pink"),
  "pink-6": shade(map-get($COLORS, "pink"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "pink-7": shade(map-get($COLORS, "pink"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "pink-8": shade(map-get($COLORS, "pink"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "pink-9": shade(map-get($COLORS, "pink"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "grape-1": lighten(map-get($COLORS, "grape"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "grape-2": lighten(map-get($COLORS, "grape"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "grape-3": lighten(map-get($COLORS, "grape"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "grape-4": lighten(map-get($COLORS, "grape"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "grape-5": map-get($COLORS, "grape"),
  "grape-6": shade(map-get($COLORS, "grape"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "grape-7": shade(map-get($COLORS, "grape"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "grape-8": shade(map-get($COLORS, "grape"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "grape-9": shade(map-get($COLORS, "grape"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "violet-1": lighten(map-get($COLORS, "violet"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "violet-2": lighten(map-get($COLORS, "violet"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "violet-3": lighten(map-get($COLORS, "violet"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "violet-4": lighten(map-get($COLORS, "violet"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "violet-5": map-get($COLORS, "violet"),
  "violet-6": shade(map-get($COLORS, "violet"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "violet-7": shade(map-get($COLORS, "violet"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "violet-8": shade(map-get($COLORS, "violet"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "violet-9": shade(map-get($COLORS, "violet"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "indigo-1": lighten(map-get($COLORS, "indigo"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "indigo-2": lighten(map-get($COLORS, "indigo"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "indigo-3": lighten(map-get($COLORS, "indigo"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "indigo-4": lighten(map-get($COLORS, "indigo"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "indigo-5": map-get($COLORS, "indigo"),
  "indigo-6": shade(map-get($COLORS, "indigo"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "indigo-7": shade(map-get($COLORS, "indigo"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "indigo-8": shade(map-get($COLORS, "indigo"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "indigo-9": shade(map-get($COLORS, "indigo"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "blue-1": lighten(map-get($COLORS, "blue"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "blue-2": lighten(map-get($COLORS, "blue"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "blue-3": lighten(map-get($COLORS, "blue"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "blue-4": lighten(map-get($COLORS, "blue"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "blue-5": map-get($COLORS, "blue"),
  "blue-6": shade(map-get($COLORS, "blue"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "blue-7": shade(map-get($COLORS, "blue"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "blue-8": shade(map-get($COLORS, "blue"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "blue-9": shade(map-get($COLORS, "blue"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "cyan-1": lighten(map-get($COLORS, "cyan"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "cyan-2": lighten(map-get($COLORS, "cyan"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "cyan-3": lighten(map-get($COLORS, "cyan"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "cyan-4": lighten(map-get($COLORS, "cyan"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "cyan-5": map-get($COLORS, "cyan"),
  "cyan-6": shade(map-get($COLORS, "cyan"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "cyan-7": shade(map-get($COLORS, "cyan"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "cyan-8": shade(map-get($COLORS, "cyan"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "cyan-9": shade(map-get($COLORS, "cyan"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "teal-1": lighten(map-get($COLORS, "teal"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "teal-2": lighten(map-get($COLORS, "teal"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "teal-3": lighten(map-get($COLORS, "teal"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "teal-4": lighten(map-get($COLORS, "teal"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "teal-5": map-get($COLORS, "teal"),
  "teal-6": shade(map-get($COLORS, "teal"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "teal-7": shade(map-get($COLORS, "teal"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "teal-8": shade(map-get($COLORS, "teal"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "teal-9": shade(map-get($COLORS, "teal"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "green-1": lighten(map-get($COLORS, "green"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "green-2": lighten(map-get($COLORS, "green"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "green-3": lighten(map-get($COLORS, "green"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "green-4": lighten(map-get($COLORS, "green"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "green-5": map-get($COLORS, "green"),
  "green-6": shade(map-get($COLORS, "green"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "green-7": shade(map-get($COLORS, "green"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "green-8": shade(map-get($COLORS, "green"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "green-9": shade(map-get($COLORS, "green"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "lime-1": lighten(map-get($COLORS, "lime"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "lime-2": lighten(map-get($COLORS, "lime"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "lime-3": lighten(map-get($COLORS, "lime"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "lime-4": lighten(map-get($COLORS, "lime"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "lime-5": map-get($COLORS, "lime"),
  "lime-6": shade(map-get($COLORS, "lime"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "lime-7": shade(map-get($COLORS, "lime"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "lime-8": shade(map-get($COLORS, "lime"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "lime-9": shade(map-get($COLORS, "lime"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "yellow-1": lighten(map-get($COLORS, "yellow"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "yellow-2": lighten(map-get($COLORS, "yellow"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "yellow-3": lighten(map-get($COLORS, "yellow"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "yellow-4": lighten(map-get($COLORS, "yellow"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "yellow-5": map-get($COLORS, "yellow"),
  "yellow-6": shade(map-get($COLORS, "yellow"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "yellow-7": shade(map-get($COLORS, "yellow"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "yellow-8": shade(map-get($COLORS, "yellow"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "yellow-9": shade(map-get($COLORS, "yellow"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),

  "orange-1": lighten(map-get($COLORS, "orange"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "max")),
  "orange-2": lighten(map-get($COLORS, "orange"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "high")),
  "orange-3": lighten(map-get($COLORS, "orange"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "medium")),
  "orange-4": lighten(map-get($COLORS, "orange"), map-get($COLOR_SHADES_LIGHTEN_PRECENTAGE, "low")),
  "orange-5": map-get($COLORS, "orange"),
  "orange-6": shade(map-get($COLORS, "orange"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "low")),
  "orange-7": shade(map-get($COLORS, "orange"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "medium")),
  "orange-8": shade(map-get($COLORS, "orange"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "high")),
  "orange-9": shade(map-get($COLORS, "orange"), map-get($COLOR_SHADES_SHADE_PRECENTAGE, "max")),
);