//-> COLOR PALLET

@import "./node_modules/open-color/open-color.scss";

$DEFAULT_COLOR-PALLET: (
  white: $oc-white,
  black: $oc-black,
  gray: $oc-gray-5,
  red: $oc-red-5,
  pink: $oc-pink-5,
  grape: $oc-grape-5,
  violet: $oc-violet-5,
  indigo: $oc-indigo-5,
  blue: $oc-blue-5,
  cyan: $oc-cyan-5,
  teal: $oc-teal-5,
  green: $oc-green-5,
  lime: $oc-lime-5,
  yellow: $oc-yellow-5,
  orange: $oc-orange-5,
  gray-1: $oc-gray-1,
  gray-2: $oc-gray-2,
  gray-3: $oc-gray-3,
  gray-4: $oc-gray-4,
  gray-5: $oc-gray-5,
  gray-6: $oc-gray-6,
  gray-7: $oc-gray-7,
  gray-8: $oc-gray-8,
  gray-9: $oc-gray-9,
  red-1: $oc-red-1,
  red-2: $oc-red-2,
  red-3: $oc-red-3,
  red-4: $oc-red-4,
  red-5: $oc-red-5,
  red-6: $oc-red-6,
  red-7: $oc-red-7,
  red-8: $oc-red-8,
  red-9: $oc-red-9,
  pink-1: $oc-pink-1,
  pink-2: $oc-pink-2,
  pink-3: $oc-pink-3,
  pink-4: $oc-pink-4,
  pink-5: $oc-pink-5,
  pink-6: $oc-pink-6,
  pink-7: $oc-pink-7,
  pink-8: $oc-pink-8,
  pink-9: $oc-pink-9,
  grape-1: $oc-grape-1,
  grape-2: $oc-grape-2,
  grape-3: $oc-grape-3,
  grape-4: $oc-grape-4,
  grape-5: $oc-grape-5,
  grape-6: $oc-grape-6,
  grape-7: $oc-grape-7,
  grape-8: $oc-grape-8,
  grape-9: $oc-grape-9,
  violet-1: $oc-violet-1,
  violet-2: $oc-violet-2,
  violet-3: $oc-violet-3,
  violet-4: $oc-violet-4,
  violet-5: $oc-violet-5,
  violet-6: $oc-violet-6,
  violet-7: $oc-violet-7,
  violet-8: $oc-violet-8,
  violet-9: $oc-violet-9,
  indigo-1: $oc-indigo-1,
  indigo-2: $oc-indigo-2,
  indigo-3: $oc-indigo-3,
  indigo-4: $oc-indigo-4,
  indigo-5: $oc-indigo-5,
  indigo-6: $oc-indigo-6,
  indigo-7: $oc-indigo-7,
  indigo-8: $oc-indigo-8,
  indigo-9: $oc-indigo-9,
  blue-1: $oc-blue-1,
  blue-2: $oc-blue-2,
  blue-3: $oc-blue-3,
  blue-4: $oc-blue-4,
  blue-5: $oc-blue-5,
  blue-6: $oc-blue-6,
  blue-7: $oc-blue-7,
  blue-8: $oc-blue-8,
  blue-9: $oc-blue-9,
  cyan-1: $oc-cyan-1,
  cyan-2: $oc-cyan-2,
  cyan-3: $oc-cyan-3,
  cyan-4: $oc-cyan-4,
  cyan-5: $oc-cyan-5,
  cyan-6: $oc-cyan-6,
  cyan-7: $oc-cyan-7,
  cyan-8: $oc-cyan-8,
  cyan-9: $oc-cyan-9,
  teal-1: $oc-teal-1,
  teal-2: $oc-teal-2,
  teal-3: $oc-teal-3,
  teal-4: $oc-teal-4,
  teal-5: $oc-teal-5,
  teal-6: $oc-teal-6,
  teal-7: $oc-teal-7,
  teal-8: $oc-teal-8,
  teal-9: $oc-teal-9,
  green-1: $oc-green-1,
  green-2: $oc-green-2,
  green-3: $oc-green-3,
  green-4: $oc-green-4,
  green-5: $oc-green-5,
  green-6: $oc-green-6,
  green-7: $oc-green-7,
  green-8: $oc-green-8,
  green-9: $oc-green-9,
  lime-1: $oc-lime-1,
  lime-2: $oc-lime-2,
  lime-3: $oc-lime-3,
  lime-4: $oc-lime-4,
  lime-5: $oc-lime-5,
  lime-6: $oc-lime-6,
  lime-7: $oc-lime-7,
  lime-8: $oc-lime-8,
  lime-9: $oc-lime-9,
  yellow-1: $oc-yellow-1,
  yellow-2: $oc-yellow-2,
  yellow-3: $oc-yellow-3,
  yellow-4: $oc-yellow-4,
  yellow-5: $oc-yellow-5,
  yellow-6: $oc-yellow-6,
  yellow-7: $oc-yellow-7,
  yellow-8: $oc-yellow-8,
  yellow-9: $oc-yellow-9,
  orange-1: $oc-orange-1,
  orange-2: $oc-orange-2,
  orange-3: $oc-orange-3,
  orange-4: $oc-orange-4,
  orange-5: $oc-orange-5,
  orange-6: $oc-orange-6,
  orange-7: $oc-orange-7,
  orange-8: $oc-orange-8,
  orange-9: $oc-orange-9
);
