//-> DEFAULT VARIABLES

$DEFAULT_LINE-HEIGHT: 1;

$DEFAULT_FONT-SIZE: 16px;

$DEFAULT_SERIF_FONT-FAMILY: "Times New Roman", Times, Baskerville, Georgia,
  serif;

$DEFAULT_SANS-SERIF_FONT-FAMILY: -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$DEFAULT_MONOSPACE_FONT-FAMILY: "Courier New", Courier, "Lucida Sans Typewriter",
  "Lucida Typewriter", monospace;

$DEFAULT_HEADING-WEIGHT: 700;

$DEFAULT_HEADING_FONT_SIZES: (
  0: 6,
  1: 3,
  2: 2.25,
  3: 1.5,
  4: 1.25,
  5: 1,
  6: 0.875
);

$DEFAULT_BORDER_RADII: (
  0: 0em,
  1: 0.35em,
  2: 1em,
  3: 1.35em,
  4: 2em,
  5: 2.35em,
  6: 3em,
  full: 100000em,
);