/**
 * BORDER UTILITY
 * ───────────────
 */
.border {
  border: 1px solid !important;
}

@each $direction in $directions {
  @each $name, $color in $all_colors {
    .border-color-#{$name} {
      border-color: $color !important;
    }

    // .border-color-#{$direction}-#{$name} {
    //   border-#{$direction}-color: $color !important;
    // }
  }
}

@each $direction in $directions {
  @each $style in $border_styles {
    .border-style-#{$style} {
      border-style: unquote($style) !important;
    }

    // .border-#{$direction}-#{$style} {
    //   border-#{$direction}-style: unquote($style) !important;
    // }
  }
}

.border-none {
  border: none !important;
}
