/**
 * BORDER UTILITY
 * ───────────────
 */

$border_styles: (
  "dotted",
  "dashed",
  "solid",
  "double",
  "groove",
  "ridge",
  "inset",
  "outset",
  "none",
  "hidden",
  "mix"
);

$border_weights: (1, 2, 4, 8);

/**
 * Set Border
 * ~~~~~~~~~~
 * This bit of code does only one thing.
 * It adds 1px solid border with no color. This means you will have to set a
 * certain border color from below to show. 
 */
.border {
  border: 1px solid !important;
}

.border-top {
  border-top: 1px solid !important;
}

.border-right {
  border-right: 1px solid !important;
}

.border-bottom {
  border-bottom: 1px solid !important;
}

.border-left {
  border-left: 1px solid !important;
}
/**
 * Border Weight
 * ~~~~~~~~~~~~~
 * This bit of code does only one thing.
 * It adds 1px solid border with no color. This means you will have to set a
 * certain border color from below to show. 
 */
@each $border-weight in $border_weights {
  .border-w-#{$border-weight} {
    border-width: #{$border-weight + unquote("px")} !important;
  }
}

/**
 * Generate Border Colors
 * ~~~~~~~~~~~~~~~~~~~~~~
 * This generates the classes based on the colors from the color pallete.
 * It uses the $prime_colors not the $all_colors as not every shade is needed.
 */
@each $name, $color in $prime_colors {
  .border-#{$name} {
    border-color: $color !important;
  }
}

.border-transparent {
  border-color: $oc-transparent !important;
}

/**
 * Border Style Generator
 * ~~~~~~~~~~~~~~~~~~~~~~
 * This creates the classes for changing the default "solid" border style type.
 * It uses the above $border_style variable to generate all the border styles.
 */
@each $style in $border_styles {
  .border-style-#{$style} {
    border-style: unquote($style) !important;
  }
}

/**
 * Border Reset
 * ~~~~~~~~~~~~
 * Removes all border styling and defaults to nothing.
 */
.border-none {
  border: none !important;
}

/*! Add direction based styling for color, weight and disabling or enable */
