.flex-auto {
  flex: auto !important;
}

// add all align
.flex-align-items-center {
  align-items: center !important;
}

// Add all justify
.flex-justify-content-center {
  justify-content: center !important;
}

// Other
.flex-center {
  justify-content: center !important;
  align-items: center !important;
}

// TODO: flex-align, flex-direction
