/**
 * FLOAT UTILITY
 * ─────────────
 */

/**
 * Floating
 * ~~~~~~~~
 * Floats the active styled div either to left, right or none if already set.
 */
.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

.f-none {
  float: none !important;
}

/**
 * Clear
 * ~~~~~~~~
 */
.clear-left {
  clear: left !important;
}

.clear-right {
  clear: right !important;
}

.clear-both {
  clear: both !important;
}

/**
 * Clearfix
 * ~~~~~~~~
 */
.clearfix:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}
