/**
 * TEXT COLOR UTILITY
 * ──────────────────
 */

$t-transparancy: (
  10: 0.1,
  20: 0.2,
  30: 0.3,
  40: 0.4,
  50: 0.5,
  60: 0.6,
  70: 0.7,
  80: 0.8,
  90: 0.9
);

/**
 * Text Color Generator
 * ~~~~~~~~~~~~~~~~~~~~
 * Creates all the classes based on the $prime_colors. 
 * It will not generate all the shades apart from grayscale. 
 */
@each $name, $color in $prime_colors {
  .t-#{$name} {
    color: $color !important;
  }
}

/**
 * Text Color Opacity Generator
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Generates the opacity colors for black (dark) and white (light).
 * Other colors do not need opacity as that adds too much complexity to UI.
 */
@each $t-transparancy-level, $t-transparancy-opac in $t-transparancy {
  .t-opac-light-#{$t-transparancy-level} {
    color: rgba(map_get($all_colors, "white"), $t-transparancy-opac) !important;
  }

  .t-opac-dark-#{$t-transparancy-level} {
    color: rgba(map_get($all_colors, "black"), $t-transparancy-opac) !important;
  }
}

/**
 * Text Shadow On Dark
 * ~~~~~~~~~~~~~~~~~~~
 * Creates an emboss effect on the text that are on dark surfaces.
 */
.t-shadow-on-dark {
  text-shadow: 0 1px 0 rgba(map_get($all_colors, "white"), 0.5) !important;
}

/**
 * Text Shadow On Light
 * ~~~~~~~~~~~~~~~~~~~
 * Creates a drop shadow for text that are on lighter surfaces such as white.
 */
.t-shadow-on-light {
  text-shadow: 0 1px 1px rgba(map_get($all_colors, "black"), 0.15),
    0 1px 25px rgba(map_get($all_colors, "black"), 0.65) !important;
}

/**
 * Text Transparency
 * ~~~~~~~~~~~~~~~~~~~
 */
.t-transparent {
  color: transparent !important;
}

/**
 * Text Inherit
 * ~~~~~~~~~~~~~~~~~~~
 */
.t-inherit {
  color: inherit !important;
}

/*! TODO: 1. Add text to upper and to lower and Capitalize etc. */
