//-> BASE MODULE

html {
  font: {
    family: $DEFAULT_SANS-SERIF_FONT-FAMILY;
    size: 16px;
  }

  line-height: $DEFAULT_LINE-HEIGHT;
  color: map-get($DEFAULT_COLOR-PALLET, gray-9);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  font-size: $DEFAULT_FONT-SIZE;
  line-height: $DEFAULT_LINE-HEIGHT;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $DEFAULT_HEADING-WEIGHT;
}

hr {
  margin: 0 !important;
  border: 0.5px solid map-get($DEFAULT_COLOR-PALLET, gray-3);
}
