@import "./variables";

@each $name, $style in $flex-direction {
  .flex-#{$name} {
    flex-direction: $style !important;
  }
}

@each $name, $style in $flex-justify {
  .flex-justify-#{$name} {
    justify-content: $style !important;
  }
}

@each $name, $style in $flex-items {
  .flex-items-#{$name} {
    align-items: $style;
  }
}

@each $name, $style in $flex-content {
  .flex-content-#{$name} {
    align-content: $style;
  }
}

@each $name, $style in $flex-self {
  .flex-self-#{$name} {
    align-self: $style;
  }
}

@each $name, $style in $flex-wrap {
  .flex-#{$name} {
    flex-wrap: $style;
  }
}

.flex-auto {
  flex: 1 1 auto !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-order-1 {
  order: 1 !important;
}

.flex-order-2 {
  order: 2 !important;
}

.flex-order-none {
  order: inherit !important;
}
