/*!
 * 
 */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  *font-size: 100%;
  /* 3 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  *display: inline;
  *zoom: 1;
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
    * Addresses margins set differently in IE 6/7.
    */
p,
pre {
  *margin: 1em 0;
}

/*
    * Addresses CSS quotes not supported in IE 6/7.
    */
q {
  *quotes: none;
}

/*
    * Addresses `quotes` property not supported in Safari 4.
    */
q:before,
q:after {
  content: '';
  content: none;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
      Lists
      ========================================================================== */
/*
    * Addresses margins set differently in IE 6/7.
    */
dl,
menu,
ol,
ul {
  *margin: 1em 0;
}

dd {
  *margin: 0 0 0 40px;
}

/*
    * Addresses paddings set differently in IE 6/7.
    */
menu,
ol,
ul {
  *padding: 0 0 0 40px;
}

/*
    * Corrects list images handled incorrectly in IE 7.
    */
nav ul,
nav ol {
  *list-style: none;
  *list-style-image: none;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
  *-ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  white-space: normal;
  /* 3 */
  *margin-left: -7px;
  /* 4 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: #101010;
}

h1 {
  font-size: 2em;
}

hr {
  margin: 0;
  border: 0.5px solid #ced4da;
}

button,
.button {
  display: inline-block;
  line-height: 1.5;
  font-size: 16px;
  font-size: 1rem;
  border: 2px solid #343a40;
  border-radius: 2px;
  color: #343a40;
  font-weight: 700;
  padding: 8px 16px;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0;
}

button:hover,
.button:hover {
  background-color: #343a40;
  color: #ffffff;
}

button:active,
.button:active {
  background-color: #212529;
  border-color: #212529;
  color: #ffffff;
}

button.solid,
.button.solid {
  border-color: #343a40 !important;
  color: #ffffff !important;
  background-color: #343a40 !important;
}

button.solid:hover,
.button.solid:hover {
  background-color: #212529 !important;
  border-color: #212529 !important;
  color: #ffffff !important;
}

button.solid:active,
.button.solid:active {
  background-color: #16181b !important;
  border-color: #16181b !important;
  color: #ffffff !important;
}

button.red,
.button.red {
  border-color: #f03e3e !important;
  color: #f03e3e !important;
  background-color: transparent !important;
}

button.red:hover,
.button.red:hover {
  background-color: #f03e3e !important;
  color: #ffffff !important;
}

button.red:active,
.button.red:active {
  background-color: #c92a2a !important;
  border-color: #c92a2a !important;
  color: #ffffff !important;
}

button.red.solid,
.button.red.solid {
  border-color: #f03e3e !important;
  color: #ffffff !important;
  background-color: #f03e3e !important;
}

button.red.solid:hover,
.button.red.solid:hover {
  background-color: #c92a2a !important;
  border-color: #c92a2a !important;
  color: #ffffff !important;
}

button.red.solid:active,
.button.red.solid:active {
  background-color: #b42626 !important;
  border-color: #b42626 !important;
  color: #ffffff !important;
}

button.pink,
.button.pink {
  border-color: #d6336c !important;
  color: #d6336c !important;
  background-color: transparent !important;
}

button.pink:hover,
.button.pink:hover {
  background-color: #d6336c !important;
  color: #ffffff !important;
}

button.pink:active,
.button.pink:active {
  background-color: #a61e4d !important;
  border-color: #a61e4d !important;
  color: #ffffff !important;
}

button.pink.solid,
.button.pink.solid {
  border-color: #d6336c !important;
  color: #ffffff !important;
  background-color: #d6336c !important;
}

button.pink.solid:hover,
.button.pink.solid:hover {
  background-color: #a61e4d !important;
  border-color: #a61e4d !important;
  color: #ffffff !important;
}

button.pink.solid:active,
.button.pink.solid:active {
  background-color: #901a43 !important;
  border-color: #901a43 !important;
  color: #ffffff !important;
}

button.grape,
.button.grape {
  border-color: #ae3ec9 !important;
  color: #ae3ec9 !important;
  background-color: transparent !important;
}

button.grape:hover,
.button.grape:hover {
  background-color: #ae3ec9 !important;
  color: #ffffff !important;
}

button.grape:active,
.button.grape:active {
  background-color: #862e9c !important;
  border-color: #862e9c !important;
  color: #ffffff !important;
}

button.grape.solid,
.button.grape.solid {
  border-color: #ae3ec9 !important;
  color: #ffffff !important;
  background-color: #ae3ec9 !important;
}

button.grape.solid:hover,
.button.grape.solid:hover {
  background-color: #862e9c !important;
  border-color: #862e9c !important;
  color: #ffffff !important;
}

button.grape.solid:active,
.button.grape.solid:active {
  background-color: #752888 !important;
  border-color: #752888 !important;
  color: #ffffff !important;
}

button.violet,
.button.violet {
  border-color: #7048e8 !important;
  color: #7048e8 !important;
  background-color: transparent !important;
}

button.violet:hover,
.button.violet:hover {
  background-color: #7048e8 !important;
  color: #ffffff !important;
}

button.violet:active,
.button.violet:active {
  background-color: #5f3dc4 !important;
  border-color: #5f3dc4 !important;
  color: #ffffff !important;
}

button.violet.solid,
.button.violet.solid {
  border-color: #7048e8 !important;
  color: #ffffff !important;
  background-color: #7048e8 !important;
}

button.violet.solid:hover,
.button.violet.solid:hover {
  background-color: #5f3dc4 !important;
  border-color: #5f3dc4 !important;
  color: #ffffff !important;
}

button.violet.solid:active,
.button.violet.solid:active {
  background-color: #5536b2 !important;
  border-color: #5536b2 !important;
  color: #ffffff !important;
}

button.indigo,
.button.indigo {
  border-color: #4263eb !important;
  color: #4263eb !important;
  background-color: transparent !important;
}

button.indigo:hover,
.button.indigo:hover {
  background-color: #4263eb !important;
  color: #ffffff !important;
}

button.indigo:active,
.button.indigo:active {
  background-color: #364fc7 !important;
  border-color: #364fc7 !important;
  color: #ffffff !important;
}

button.indigo.solid,
.button.indigo.solid {
  border-color: #4263eb !important;
  color: #ffffff !important;
  background-color: #4263eb !important;
}

button.indigo.solid:hover,
.button.indigo.solid:hover {
  background-color: #364fc7 !important;
  border-color: #364fc7 !important;
  color: #ffffff !important;
}

button.indigo.solid:active,
.button.indigo.solid:active {
  background-color: #3147b3 !important;
  border-color: #3147b3 !important;
  color: #ffffff !important;
}

button.blue,
.button.blue {
  border-color: #1c7ed6 !important;
  color: #1c7ed6 !important;
  background-color: transparent !important;
}

button.blue:hover,
.button.blue:hover {
  background-color: #1c7ed6 !important;
  color: #ffffff !important;
}

button.blue:active,
.button.blue:active {
  background-color: #1864ab !important;
  border-color: #1864ab !important;
  color: #ffffff !important;
}

button.blue.solid,
.button.blue.solid {
  border-color: #1c7ed6 !important;
  color: #ffffff !important;
  background-color: #1c7ed6 !important;
}

button.blue.solid:hover,
.button.blue.solid:hover {
  background-color: #1864ab !important;
  border-color: #1864ab !important;
  color: #ffffff !important;
}

button.blue.solid:active,
.button.blue.solid:active {
  background-color: #155795 !important;
  border-color: #155795 !important;
  color: #ffffff !important;
}

button.cyan,
.button.cyan {
  border-color: #1098ad !important;
  color: #1098ad !important;
  background-color: transparent !important;
}

button.cyan:hover,
.button.cyan:hover {
  background-color: #1098ad !important;
  color: #ffffff !important;
}

button.cyan:active,
.button.cyan:active {
  background-color: #0b7285 !important;
  border-color: #0b7285 !important;
  color: #ffffff !important;
}

button.cyan.solid,
.button.cyan.solid {
  border-color: #1098ad !important;
  color: #ffffff !important;
  background-color: #1098ad !important;
}

button.cyan.solid:hover,
.button.cyan.solid:hover {
  background-color: #0b7285 !important;
  border-color: #0b7285 !important;
  color: #ffffff !important;
}

button.cyan.solid:active,
.button.cyan.solid:active {
  background-color: #095e6d !important;
  border-color: #095e6d !important;
  color: #ffffff !important;
}

button.teal,
.button.teal {
  border-color: #0ca678 !important;
  color: #0ca678 !important;
  background-color: transparent !important;
}

button.teal:hover,
.button.teal:hover {
  background-color: #0ca678 !important;
  color: #ffffff !important;
}

button.teal:active,
.button.teal:active {
  background-color: #087f5b !important;
  border-color: #087f5b !important;
  color: #ffffff !important;
}

button.teal.solid,
.button.teal.solid {
  border-color: #0ca678 !important;
  color: #ffffff !important;
  background-color: #0ca678 !important;
}

button.teal.solid:hover,
.button.teal.solid:hover {
  background-color: #087f5b !important;
  border-color: #087f5b !important;
  color: #ffffff !important;
}

button.teal.solid:active,
.button.teal.solid:active {
  background-color: #06674a !important;
  border-color: #06674a !important;
  color: #ffffff !important;
}

button.green,
.button.green {
  border-color: #37b24d !important;
  color: #37b24d !important;
  background-color: transparent !important;
}

button.green:hover,
.button.green:hover {
  background-color: #37b24d !important;
  color: #ffffff !important;
}

button.green:active,
.button.green:active {
  background-color: #2b8a3e !important;
  border-color: #2b8a3e !important;
  color: #ffffff !important;
}

button.green.solid,
.button.green.solid {
  border-color: #37b24d !important;
  color: #ffffff !important;
  background-color: #37b24d !important;
}

button.green.solid:hover,
.button.green.solid:hover {
  background-color: #2b8a3e !important;
  border-color: #2b8a3e !important;
  color: #ffffff !important;
}

button.green.solid:active,
.button.green.solid:active {
  background-color: #257735 !important;
  border-color: #257735 !important;
  color: #ffffff !important;
}

button.lime,
.button.lime {
  border-color: #74b816 !important;
  color: #74b816 !important;
  background-color: transparent !important;
}

button.lime:hover,
.button.lime:hover {
  background-color: #74b816 !important;
  color: #ffffff !important;
}

button.lime:active,
.button.lime:active {
  background-color: #5c940d !important;
  border-color: #5c940d !important;
  color: #ffffff !important;
}

button.lime.solid,
.button.lime.solid {
  border-color: #74b816 !important;
  color: #ffffff !important;
  background-color: #74b816 !important;
}

button.lime.solid:hover,
.button.lime.solid:hover {
  background-color: #5c940d !important;
  border-color: #5c940d !important;
  color: #ffffff !important;
}

button.lime.solid:active,
.button.lime.solid:active {
  background-color: #4d7d0b !important;
  border-color: #4d7d0b !important;
  color: #ffffff !important;
}

button.yellow,
.button.yellow {
  border-color: #f59f00 !important;
  color: #f59f00 !important;
  background-color: transparent !important;
}

button.yellow:hover,
.button.yellow:hover {
  background-color: #f59f00 !important;
  color: #ffffff !important;
}

button.yellow:active,
.button.yellow:active {
  background-color: #e67700 !important;
  border-color: #e67700 !important;
  color: #ffffff !important;
}

button.yellow.solid,
.button.yellow.solid {
  border-color: #f59f00 !important;
  color: #ffffff !important;
  background-color: #f59f00 !important;
}

button.yellow.solid:hover,
.button.yellow.solid:hover {
  background-color: #e67700 !important;
  border-color: #e67700 !important;
  color: #ffffff !important;
}

button.yellow.solid:active,
.button.yellow.solid:active {
  background-color: #cd6a00 !important;
  border-color: #cd6a00 !important;
  color: #ffffff !important;
}

button.orange,
.button.orange {
  border-color: #f76707 !important;
  color: #f76707 !important;
  background-color: transparent !important;
}

button.orange:hover,
.button.orange:hover {
  background-color: #f76707 !important;
  color: #ffffff !important;
}

button.orange:active,
.button.orange:active {
  background-color: #d9480f !important;
  border-color: #d9480f !important;
  color: #ffffff !important;
}

button.orange.solid,
.button.orange.solid {
  border-color: #f76707 !important;
  color: #ffffff !important;
  background-color: #f76707 !important;
}

button.orange.solid:hover,
.button.orange.solid:hover {
  background-color: #d9480f !important;
  border-color: #d9480f !important;
  color: #ffffff !important;
}

button.orange.solid:active,
.button.orange.solid:active {
  background-color: #c1400d !important;
  border-color: #c1400d !important;
  color: #ffffff !important;
}
