/*!
 * Refresh.css || v0.0.1-alpha1
 */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  *font-size: 100%;
  /* 3 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  *display: inline;
  *zoom: 1;
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
    * Addresses margins set differently in IE 6/7.
    */
p,
pre {
  *margin: 1em 0;
}

/*
    * Addresses CSS quotes not supported in IE 6/7.
    */
q {
  *quotes: none;
}

/*
    * Addresses `quotes` property not supported in Safari 4.
    */
q:before,
q:after {
  content: '';
  content: none;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
      Lists
      ========================================================================== */
/*
    * Addresses margins set differently in IE 6/7.
    */
dl,
menu,
ol,
ul {
  *margin: 1em 0;
}

dd {
  *margin: 0 0 0 40px;
}

/*
    * Addresses paddings set differently in IE 6/7.
    */
menu,
ol,
ul {
  *padding: 0 0 0 40px;
}

/*
    * Corrects list images handled incorrectly in IE 7.
    */
nav ul,
nav ol {
  *list-style: none;
  *list-style-image: none;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
  *-ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  white-space: normal;
  /* 3 */
  *margin-left: -7px;
  /* 4 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: #495057;
  font-weight: 100;
}

h1 {
  font-size: 2em;
}

hr {
  margin: 0;
  border: 0.5px solid #ced4da;
}

code {
  background-color: #f1f3f5;
  border-radius: 3px;
  padding: 0 4px;
}

/*
 * Elements.
 * Singular modules.
 */
/**
 * Basic Buttons. 
 * Has 3 different falvours. 
 * Needs improving but this works fine for now.
 *  1. Too much repetion of code.
 *  2. Does not have any automation. Too repetative 
 *     to make new buttons
 */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #343a40;
  border-radius: 3px;
  color: #343a40;
  font-weight: 600;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  border-color: #343a40 !important;
  color: #ffffff !important;
  background-color: #343a40 !important;
}

.btn:hover {
  background-color: #343a40;
  color: #ffffff;
}

.btn:active {
  background-color: #212529;
  border-color: #212529;
  color: #ffffff;
}

.btn:focus {
  box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.4) !important;
}

.btn svg {
  width: 20px;
  height: 20px;
}

.btn:hover {
  background-color: #212529 !important;
  border-color: #212529 !important;
  color: #ffffff !important;
}

.btn:active {
  background-color: #16181b !important;
  border-color: #16181b !important;
  color: #ffffff !important;
}

.btn:focus {
  box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.2) !important;
}

.btn-black.btn-outline {
  border-color: #343a40 !important;
  color: #343a40 !important;
  background-color: transparent !important;
}

.btn-black.btn-outline:hover {
  background-color: #343a40 !important;
  color: #ffffff !important;
}

.btn-black.btn-outline:active {
  background-color: #212529 !important;
  border-color: #212529 !important;
  color: #ffffff !important;
}

.btn-black.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.2) !important;
}

.btn-black.btn-solid {
  border-color: #343a40 !important;
  color: #ffffff !important;
  background-color: #343a40 !important;
}

.btn-black.btn-solid:hover {
  background-color: #212529 !important;
  border-color: #212529 !important;
  color: #ffffff !important;
}

.btn-black.btn-solid:active {
  background-color: #16181b !important;
  border-color: #16181b !important;
  color: #ffffff !important;
}

.btn-black.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.2) !important;
}

.btn-black.btn-link {
  color: #343a40 !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #343a40 !important;
  border-left: 0 !important;
}

.btn-black.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #212529 !important;
  transition: ease-out 100ms !important;
}

.btn-black.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #343a40 !important;
}

.btn-black.btn-link:focus {
  box-shadow: none !important;
}

.btn-white.btn-outline {
  border-color: #ffffff !important;
  color: #ffffff !important;
  background-color: transparent !important;
}

.btn-white.btn-outline:hover {
  background-color: #ffffff !important;
  color: #343a40 !important;
}

.btn-white.btn-outline:active {
  background-color: #ced4da !important;
  border-color: #ced4da !important;
  color: #343a40 !important;
}

.btn-white.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
}

.btn-white.btn-solid {
  border-color: #ffffff !important;
  color: #343a40 !important;
  background-color: #ffffff !important;
}

.btn-white.btn-solid:hover {
  background-color: #ced4da !important;
  border-color: #ced4da !important;
  color: #343a40 !important;
}

.btn-white.btn-solid:active {
  background-color: #bfc7cf !important;
  border-color: #bfc7cf !important;
  color: #343a40 !important;
}

.btn-white.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
}

.btn-white.btn-link {
  color: #ffffff !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #ffffff !important;
  border-left: 0 !important;
}

.btn-white.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #ced4da !important;
  transition: ease-out 100ms !important;
}

.btn-white.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #ffffff !important;
}

.btn-white.btn-link:focus {
  box-shadow: none !important;
}

.btn-red.btn-outline {
  border-color: #f03e3e !important;
  color: #f03e3e !important;
  background-color: transparent !important;
}

.btn-red.btn-outline:hover {
  background-color: #f03e3e !important;
  color: #ffffff !important;
}

.btn-red.btn-outline:active {
  background-color: #c92a2a !important;
  border-color: #c92a2a !important;
  color: #ffffff !important;
}

.btn-red.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(240, 62, 62, 0.2) !important;
}

.btn-red.btn-solid {
  border-color: #f03e3e !important;
  color: #ffffff !important;
  background-color: #f03e3e !important;
}

.btn-red.btn-solid:hover {
  background-color: #c92a2a !important;
  border-color: #c92a2a !important;
  color: #ffffff !important;
}

.btn-red.btn-solid:active {
  background-color: #b42626 !important;
  border-color: #b42626 !important;
  color: #ffffff !important;
}

.btn-red.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(240, 62, 62, 0.2) !important;
}

.btn-red.btn-link {
  color: #f03e3e !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #f03e3e !important;
  border-left: 0 !important;
}

.btn-red.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #c92a2a !important;
  transition: ease-out 100ms !important;
}

.btn-red.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #f03e3e !important;
}

.btn-red.btn-link:focus {
  box-shadow: none !important;
}

.btn-pink.btn-outline {
  border-color: #d6336c !important;
  color: #d6336c !important;
  background-color: transparent !important;
}

.btn-pink.btn-outline:hover {
  background-color: #d6336c !important;
  color: #ffffff !important;
}

.btn-pink.btn-outline:active {
  background-color: #a61e4d !important;
  border-color: #a61e4d !important;
  color: #ffffff !important;
}

.btn-pink.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(214, 51, 108, 0.2) !important;
}

.btn-pink.btn-solid {
  border-color: #d6336c !important;
  color: #ffffff !important;
  background-color: #d6336c !important;
}

.btn-pink.btn-solid:hover {
  background-color: #a61e4d !important;
  border-color: #a61e4d !important;
  color: #ffffff !important;
}

.btn-pink.btn-solid:active {
  background-color: #901a43 !important;
  border-color: #901a43 !important;
  color: #ffffff !important;
}

.btn-pink.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(214, 51, 108, 0.2) !important;
}

.btn-pink.btn-link {
  color: #d6336c !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #d6336c !important;
  border-left: 0 !important;
}

.btn-pink.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #a61e4d !important;
  transition: ease-out 100ms !important;
}

.btn-pink.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #d6336c !important;
}

.btn-pink.btn-link:focus {
  box-shadow: none !important;
}

.btn-grape.btn-outline {
  border-color: #ae3ec9 !important;
  color: #ae3ec9 !important;
  background-color: transparent !important;
}

.btn-grape.btn-outline:hover {
  background-color: #ae3ec9 !important;
  color: #ffffff !important;
}

.btn-grape.btn-outline:active {
  background-color: #862e9c !important;
  border-color: #862e9c !important;
  color: #ffffff !important;
}

.btn-grape.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(174, 62, 201, 0.2) !important;
}

.btn-grape.btn-solid {
  border-color: #ae3ec9 !important;
  color: #ffffff !important;
  background-color: #ae3ec9 !important;
}

.btn-grape.btn-solid:hover {
  background-color: #862e9c !important;
  border-color: #862e9c !important;
  color: #ffffff !important;
}

.btn-grape.btn-solid:active {
  background-color: #752888 !important;
  border-color: #752888 !important;
  color: #ffffff !important;
}

.btn-grape.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(174, 62, 201, 0.2) !important;
}

.btn-grape.btn-link {
  color: #ae3ec9 !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #ae3ec9 !important;
  border-left: 0 !important;
}

.btn-grape.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #862e9c !important;
  transition: ease-out 100ms !important;
}

.btn-grape.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #ae3ec9 !important;
}

.btn-grape.btn-link:focus {
  box-shadow: none !important;
}

.btn-violet.btn-outline {
  border-color: #7048e8 !important;
  color: #7048e8 !important;
  background-color: transparent !important;
}

.btn-violet.btn-outline:hover {
  background-color: #7048e8 !important;
  color: #ffffff !important;
}

.btn-violet.btn-outline:active {
  background-color: #5f3dc4 !important;
  border-color: #5f3dc4 !important;
  color: #ffffff !important;
}

.btn-violet.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(112, 72, 232, 0.2) !important;
}

.btn-violet.btn-solid {
  border-color: #7048e8 !important;
  color: #ffffff !important;
  background-color: #7048e8 !important;
}

.btn-violet.btn-solid:hover {
  background-color: #5f3dc4 !important;
  border-color: #5f3dc4 !important;
  color: #ffffff !important;
}

.btn-violet.btn-solid:active {
  background-color: #5536b2 !important;
  border-color: #5536b2 !important;
  color: #ffffff !important;
}

.btn-violet.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(112, 72, 232, 0.2) !important;
}

.btn-violet.btn-link {
  color: #7048e8 !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #7048e8 !important;
  border-left: 0 !important;
}

.btn-violet.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #5f3dc4 !important;
  transition: ease-out 100ms !important;
}

.btn-violet.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #7048e8 !important;
}

.btn-violet.btn-link:focus {
  box-shadow: none !important;
}

.btn-indigo.btn-outline {
  border-color: #4263eb !important;
  color: #4263eb !important;
  background-color: transparent !important;
}

.btn-indigo.btn-outline:hover {
  background-color: #4263eb !important;
  color: #ffffff !important;
}

.btn-indigo.btn-outline:active {
  background-color: #364fc7 !important;
  border-color: #364fc7 !important;
  color: #ffffff !important;
}

.btn-indigo.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(66, 99, 235, 0.2) !important;
}

.btn-indigo.btn-solid {
  border-color: #4263eb !important;
  color: #ffffff !important;
  background-color: #4263eb !important;
}

.btn-indigo.btn-solid:hover {
  background-color: #364fc7 !important;
  border-color: #364fc7 !important;
  color: #ffffff !important;
}

.btn-indigo.btn-solid:active {
  background-color: #3147b3 !important;
  border-color: #3147b3 !important;
  color: #ffffff !important;
}

.btn-indigo.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(66, 99, 235, 0.2) !important;
}

.btn-indigo.btn-link {
  color: #4263eb !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #4263eb !important;
  border-left: 0 !important;
}

.btn-indigo.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #364fc7 !important;
  transition: ease-out 100ms !important;
}

.btn-indigo.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #4263eb !important;
}

.btn-indigo.btn-link:focus {
  box-shadow: none !important;
}

.btn-blue.btn-outline {
  border-color: #1c7ed6 !important;
  color: #1c7ed6 !important;
  background-color: transparent !important;
}

.btn-blue.btn-outline:hover {
  background-color: #1c7ed6 !important;
  color: #ffffff !important;
}

.btn-blue.btn-outline:active {
  background-color: #1864ab !important;
  border-color: #1864ab !important;
  color: #ffffff !important;
}

.btn-blue.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(28, 126, 214, 0.2) !important;
}

.btn-blue.btn-solid {
  border-color: #1c7ed6 !important;
  color: #ffffff !important;
  background-color: #1c7ed6 !important;
}

.btn-blue.btn-solid:hover {
  background-color: #1864ab !important;
  border-color: #1864ab !important;
  color: #ffffff !important;
}

.btn-blue.btn-solid:active {
  background-color: #155795 !important;
  border-color: #155795 !important;
  color: #ffffff !important;
}

.btn-blue.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(28, 126, 214, 0.2) !important;
}

.btn-blue.btn-link {
  color: #1c7ed6 !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #1c7ed6 !important;
  border-left: 0 !important;
}

.btn-blue.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #1864ab !important;
  transition: ease-out 100ms !important;
}

.btn-blue.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #1c7ed6 !important;
}

.btn-blue.btn-link:focus {
  box-shadow: none !important;
}

.btn-cyan.btn-outline {
  border-color: #1098ad !important;
  color: #1098ad !important;
  background-color: transparent !important;
}

.btn-cyan.btn-outline:hover {
  background-color: #1098ad !important;
  color: #ffffff !important;
}

.btn-cyan.btn-outline:active {
  background-color: #0b7285 !important;
  border-color: #0b7285 !important;
  color: #ffffff !important;
}

.btn-cyan.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(16, 152, 173, 0.2) !important;
}

.btn-cyan.btn-solid {
  border-color: #1098ad !important;
  color: #ffffff !important;
  background-color: #1098ad !important;
}

.btn-cyan.btn-solid:hover {
  background-color: #0b7285 !important;
  border-color: #0b7285 !important;
  color: #ffffff !important;
}

.btn-cyan.btn-solid:active {
  background-color: #095e6d !important;
  border-color: #095e6d !important;
  color: #ffffff !important;
}

.btn-cyan.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(16, 152, 173, 0.2) !important;
}

.btn-cyan.btn-link {
  color: #1098ad !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #1098ad !important;
  border-left: 0 !important;
}

.btn-cyan.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #0b7285 !important;
  transition: ease-out 100ms !important;
}

.btn-cyan.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #1098ad !important;
}

.btn-cyan.btn-link:focus {
  box-shadow: none !important;
}

.btn-teal.btn-outline {
  border-color: #0ca678 !important;
  color: #0ca678 !important;
  background-color: transparent !important;
}

.btn-teal.btn-outline:hover {
  background-color: #0ca678 !important;
  color: #ffffff !important;
}

.btn-teal.btn-outline:active {
  background-color: #087f5b !important;
  border-color: #087f5b !important;
  color: #ffffff !important;
}

.btn-teal.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(12, 166, 120, 0.2) !important;
}

.btn-teal.btn-solid {
  border-color: #0ca678 !important;
  color: #ffffff !important;
  background-color: #0ca678 !important;
}

.btn-teal.btn-solid:hover {
  background-color: #087f5b !important;
  border-color: #087f5b !important;
  color: #ffffff !important;
}

.btn-teal.btn-solid:active {
  background-color: #06674a !important;
  border-color: #06674a !important;
  color: #ffffff !important;
}

.btn-teal.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(12, 166, 120, 0.2) !important;
}

.btn-teal.btn-link {
  color: #0ca678 !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #0ca678 !important;
  border-left: 0 !important;
}

.btn-teal.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #087f5b !important;
  transition: ease-out 100ms !important;
}

.btn-teal.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #0ca678 !important;
}

.btn-teal.btn-link:focus {
  box-shadow: none !important;
}

.btn-green.btn-outline {
  border-color: #37b24d !important;
  color: #37b24d !important;
  background-color: transparent !important;
}

.btn-green.btn-outline:hover {
  background-color: #37b24d !important;
  color: #ffffff !important;
}

.btn-green.btn-outline:active {
  background-color: #2b8a3e !important;
  border-color: #2b8a3e !important;
  color: #ffffff !important;
}

.btn-green.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(55, 178, 77, 0.2) !important;
}

.btn-green.btn-solid {
  border-color: #37b24d !important;
  color: #ffffff !important;
  background-color: #37b24d !important;
}

.btn-green.btn-solid:hover {
  background-color: #2b8a3e !important;
  border-color: #2b8a3e !important;
  color: #ffffff !important;
}

.btn-green.btn-solid:active {
  background-color: #257735 !important;
  border-color: #257735 !important;
  color: #ffffff !important;
}

.btn-green.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(55, 178, 77, 0.2) !important;
}

.btn-green.btn-link {
  color: #37b24d !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #37b24d !important;
  border-left: 0 !important;
}

.btn-green.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #2b8a3e !important;
  transition: ease-out 100ms !important;
}

.btn-green.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #37b24d !important;
}

.btn-green.btn-link:focus {
  box-shadow: none !important;
}

.btn-lime.btn-outline {
  border-color: #74b816 !important;
  color: #74b816 !important;
  background-color: transparent !important;
}

.btn-lime.btn-outline:hover {
  background-color: #74b816 !important;
  color: #ffffff !important;
}

.btn-lime.btn-outline:active {
  background-color: #5c940d !important;
  border-color: #5c940d !important;
  color: #ffffff !important;
}

.btn-lime.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(116, 184, 22, 0.2) !important;
}

.btn-lime.btn-solid {
  border-color: #74b816 !important;
  color: #ffffff !important;
  background-color: #74b816 !important;
}

.btn-lime.btn-solid:hover {
  background-color: #5c940d !important;
  border-color: #5c940d !important;
  color: #ffffff !important;
}

.btn-lime.btn-solid:active {
  background-color: #4d7d0b !important;
  border-color: #4d7d0b !important;
  color: #ffffff !important;
}

.btn-lime.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(116, 184, 22, 0.2) !important;
}

.btn-lime.btn-link {
  color: #74b816 !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #74b816 !important;
  border-left: 0 !important;
}

.btn-lime.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #5c940d !important;
  transition: ease-out 100ms !important;
}

.btn-lime.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #74b816 !important;
}

.btn-lime.btn-link:focus {
  box-shadow: none !important;
}

.btn-yellow.btn-outline {
  border-color: #f59f00 !important;
  color: #f59f00 !important;
  background-color: transparent !important;
}

.btn-yellow.btn-outline:hover {
  background-color: #f59f00 !important;
  color: #ffffff !important;
}

.btn-yellow.btn-outline:active {
  background-color: #e67700 !important;
  border-color: #e67700 !important;
  color: #ffffff !important;
}

.btn-yellow.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(245, 159, 0, 0.2) !important;
}

.btn-yellow.btn-solid {
  border-color: #f59f00 !important;
  color: #ffffff !important;
  background-color: #f59f00 !important;
}

.btn-yellow.btn-solid:hover {
  background-color: #e67700 !important;
  border-color: #e67700 !important;
  color: #ffffff !important;
}

.btn-yellow.btn-solid:active {
  background-color: #cd6a00 !important;
  border-color: #cd6a00 !important;
  color: #ffffff !important;
}

.btn-yellow.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(245, 159, 0, 0.2) !important;
}

.btn-yellow.btn-link {
  color: #f59f00 !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #f59f00 !important;
  border-left: 0 !important;
}

.btn-yellow.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #e67700 !important;
  transition: ease-out 100ms !important;
}

.btn-yellow.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #f59f00 !important;
}

.btn-yellow.btn-link:focus {
  box-shadow: none !important;
}

.btn-orange.btn-outline {
  border-color: #f76707 !important;
  color: #f76707 !important;
  background-color: transparent !important;
}

.btn-orange.btn-outline:hover {
  background-color: #f76707 !important;
  color: #ffffff !important;
}

.btn-orange.btn-outline:active {
  background-color: #d9480f !important;
  border-color: #d9480f !important;
  color: #ffffff !important;
}

.btn-orange.btn-outline:focus {
  box-shadow: 0 0 0 3px rgba(247, 103, 7, 0.2) !important;
}

.btn-orange.btn-solid {
  border-color: #f76707 !important;
  color: #ffffff !important;
  background-color: #f76707 !important;
}

.btn-orange.btn-solid:hover {
  background-color: #d9480f !important;
  border-color: #d9480f !important;
  color: #ffffff !important;
}

.btn-orange.btn-solid:active {
  background-color: #c1400d !important;
  border-color: #c1400d !important;
  color: #ffffff !important;
}

.btn-orange.btn-solid:focus {
  box-shadow: 0 0 0 3px rgba(247, 103, 7, 0.2) !important;
}

.btn-orange.btn-link {
  color: #f76707 !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid #f76707 !important;
  border-left: 0 !important;
}

.btn-orange.btn-link:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #d9480f !important;
  transition: ease-out 100ms !important;
}

.btn-orange.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #f76707 !important;
}

.btn-orange.btn-link:focus {
  box-shadow: none !important;
}

/*
 * Basic Forms
 * Support for forms such as text inputs.
 */
.input {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #343a40;
  border-radius: 2px;
  color: #343a40;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input:hover {
  border-color: #868e96 !important;
  color: #868e96;
}

.input:focus {
  box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.4);
  border-color: #343a40 !important;
  color: #343a40;
}

.input-black {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #343a40;
  border-radius: 2px;
  color: #343a40;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-black:hover {
  border-color: #868e96 !important;
  color: #868e96;
}

.input-black:focus {
  box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.4);
  border-color: #343a40 !important;
  color: #343a40;
}

.input-white {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #ced4da;
  border-radius: 2px;
  color: #ced4da;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-white:hover {
  border-color: #e9ecef !important;
  color: #e9ecef;
}

.input-white:focus {
  box-shadow: 0 0 0 3px rgba(233, 236, 239, 0.4);
  border-color: #ced4da !important;
  color: #ced4da;
}

.input-red {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #e03131;
  border-radius: 2px;
  color: #e03131;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-red:hover {
  border-color: #fa5252 !important;
  color: #fa5252;
}

.input-red:focus {
  box-shadow: 0 0 0 3px rgba(250, 82, 82, 0.4);
  border-color: #e03131 !important;
  color: #e03131;
}

.input-pink {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #c2255c;
  border-radius: 2px;
  color: #c2255c;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-pink:hover {
  border-color: #e64980 !important;
  color: #e64980;
}

.input-pink:focus {
  box-shadow: 0 0 0 3px rgba(230, 73, 128, 0.4);
  border-color: #c2255c !important;
  color: #c2255c;
}

.input-grape {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #9c36b5;
  border-radius: 2px;
  color: #9c36b5;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-grape:hover {
  border-color: #be4bdb !important;
  color: #be4bdb;
}

.input-grape:focus {
  box-shadow: 0 0 0 3px rgba(190, 75, 219, 0.4);
  border-color: #9c36b5 !important;
  color: #9c36b5;
}

.input-violet {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #6741d9;
  border-radius: 2px;
  color: #6741d9;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-violet:hover {
  border-color: #7950f2 !important;
  color: #7950f2;
}

.input-violet:focus {
  box-shadow: 0 0 0 3px rgba(121, 80, 242, 0.4);
  border-color: #6741d9 !important;
  color: #6741d9;
}

.input-indigo {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #3b5bdb;
  border-radius: 2px;
  color: #3b5bdb;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-indigo:hover {
  border-color: #4c6ef5 !important;
  color: #4c6ef5;
}

.input-indigo:focus {
  box-shadow: 0 0 0 3px rgba(76, 110, 245, 0.4);
  border-color: #3b5bdb !important;
  color: #3b5bdb;
}

.input-blue {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #1971c2;
  border-radius: 2px;
  color: #1971c2;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-blue:hover {
  border-color: #228be6 !important;
  color: #228be6;
}

.input-blue:focus {
  box-shadow: 0 0 0 3px rgba(34, 139, 230, 0.4);
  border-color: #1971c2 !important;
  color: #1971c2;
}

.input-cyan {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #0c8599;
  border-radius: 2px;
  color: #0c8599;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-cyan:hover {
  border-color: #15aabf !important;
  color: #15aabf;
}

.input-cyan:focus {
  box-shadow: 0 0 0 3px rgba(21, 170, 191, 0.4);
  border-color: #0c8599 !important;
  color: #0c8599;
}

.input-teal {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #099268;
  border-radius: 2px;
  color: #099268;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-teal:hover {
  border-color: #12b886 !important;
  color: #12b886;
}

.input-teal:focus {
  box-shadow: 0 0 0 3px rgba(18, 184, 134, 0.4);
  border-color: #099268 !important;
  color: #099268;
}

.input-green {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #2f9e44;
  border-radius: 2px;
  color: #2f9e44;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-green:hover {
  border-color: #40c057 !important;
  color: #40c057;
}

.input-green:focus {
  box-shadow: 0 0 0 3px rgba(64, 192, 87, 0.4);
  border-color: #2f9e44 !important;
  color: #2f9e44;
}

.input-lime {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #66a80f;
  border-radius: 2px;
  color: #66a80f;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-lime:hover {
  border-color: #82c91e !important;
  color: #82c91e;
}

.input-lime:focus {
  box-shadow: 0 0 0 3px rgba(130, 201, 30, 0.4);
  border-color: #66a80f !important;
  color: #66a80f;
}

.input-yellow {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #f08c00;
  border-radius: 2px;
  color: #f08c00;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-yellow:hover {
  border-color: #fab005 !important;
  color: #fab005;
}

.input-yellow:focus {
  box-shadow: 0 0 0 3px rgba(250, 176, 5, 0.4);
  border-color: #f08c00 !important;
  color: #f08c00;
}

.input-orange {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  border: 2px solid #e8590c;
  border-radius: 2px;
  color: #e8590c;
  font-weight: 400;
  text-decoration: none !important;
  background-color: transparent;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.input-orange:hover {
  border-color: #fd7e14 !important;
  color: #fd7e14;
}

.input-orange:focus {
  box-shadow: 0 0 0 3px rgba(253, 126, 20, 0.4);
  border-color: #e8590c !important;
  color: #e8590c;
}

/**
 * Basic Box. 
 * A simple wrapper to be used to encapsulate content.
 */
.box {
  border-radius: 3px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  color: #adb5bd !important;
  text-decoration: none;
  background-color: #ffffff;
}

.box:hover {
  box-shadow: 0 0 0 3px rgba(173, 181, 189, 0.2);
}

.box:focus {
  box-shadow: 0 0 0 4px rgba(173, 181, 189, 0.4);
}
