/**
 * SPACING UTILITY
 * ───────────────
 */

$spacing_dimensions: (
  "1": 6px,
  "2": 6 * 2px,
  "3": 6 * 3px,
  "4": 6 * 4px,
  "5": 6 * 5px,
  "6": 6 * 6px,
  "7": 6 * 7px,
  "8": 6 * 8px,
  "9": 6 * 9px,
  "0": 0px
);

/**
 * Spacing Generator
 * ~~~~~~~~~~~~~~~~~
 * Generates all the padding and margin classes. 
 * See below comments for more information.
 */
@each $name, $size in $spacing_dimensions {
  /**
   * Padding
   * ~~~~~~~
   * Adds padding classes for all, x-axis, y-axis, top, right, bottom or right.
   * spacing
   */
  .p-#{$name} {
    padding: $size !important;
  }

  .px-#{$name} {
    padding: {
      left: $size !important;
      right: $size !important;
    }
  }

  .py-#{$name} {
    padding: {
      top: $size !important;
      bottom: $size !important;
    }
  }

  .pt-#{$name} {
    padding-top: $size !important;
  }

  .pr-#{$name} {
    padding-right: $size !important;
  }

  .pb-#{$name} {
    padding-bottom: $size !important;
  }

  .pl-#{$name} {
    padding-left: $size !important;
  }

  /**
   * Margin
   * ~~~~~~
   * Adds margin classes for all, x-axis, y-axis, top, right, bottom or right
   * spacing.
   */
  .m-#{$name} {
    margin: $size !important;
  }

  .mx-#{$name} {
    margin: {
      left: $size !important;
      right: $size !important;
    }
  }

  .my-#{$name} {
    margin: {
      top: $size !important;
      bottom: $size !important;
    }
  }

  .mt-#{$name} {
    margin-top: $size !important;
  }

  .mr-#{$name} {
    margin-right: $size !important;
  }

  .mb-#{$name} {
    margin-bottom: $size !important;
  }

  .ml-#{$name} {
    margin-left: $size !important;
  }
}

.mx-auto {
  margin: {
    left: auto !important;
    right: auto !important;
  }
}
